<head>
    <meta charset="utf-8">
    <title>Countries</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <div>
    <h3> Countries collection</h3>
    
  
    <mat-grid-list cols="countries.length"  rowHeight="100px" >
        <mat-grid-tile *ngFor="let m of countries " ><a [routerLink]= " [ '/country-weather']" [queryParams]="{countryId: m.alpha2Code,countryCapital:m.capital} ">{{ m.name }}</a> </mat-grid-tile>
    </mat-grid-list>
        
   
  </div>
 